{% extends "frontend/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div
    class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center">
    {% load static %} <img src="{% static "frontend/media/s.jpg" %}" style="height: 75vh" width="100%"/>


<div
  class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
  style="background-color: rgba(0, 0, 0, 0.6)">
  <div class="flex h-full items-center justify-center">
    <div class="text-white">
      <h2 class="mb-4 text-4xl font-semibold">Keyper Development changed</h2>
      <h4 class="mb-6 text-xl font-semibold">BSCpE 3N</h4>
    </div>
  </div>
</div>
</div>
<div class="container ">
    <div class="grid gap-4 grid-cols-2">
        <div>Team database</div>
        <div>Members</div>  
        <div>Members</div>
        <div>Team API</div>
    </div>
</div>






<!---- 
<div
    class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center">
<div
  class="absolute bottom-0px left-0 right-0px top-0 h-full w-full overflow-hidden bg-fixed"
  style="background-color: rgba(0, 0, 0, 0.6)">

       <div class="columns-2">
            <div class="database" >
                <h2 class="mb-4 text-4xl font-semibold">Team Database</h2>
            </div>  
            <div class="members">
                <h4 class="mb-6 text-xl font-semibold">Members</h4>
             
            </div>
           
          </div> 
          
          <div class="grid  md:grid-cols-2 lg:grid-cols-2 gap-2 lg:gap-6 p-5: " >
           
            <div class="bg-green-100 text-green-500 text-lg font-bold text-center p-14 rounded-lg">
                <div class="pb-4">
                <h2 class="mb-4 text-4xl font-semibold">Team Database</h2>
                </div>
            </div>
            <div class="bg-green-100 text-green-500 text-lg font-bold text-center p-14 rounded-lg" >
                <div class="pb-4">
                <h4 class="mb-6 text-xl font-semibold">Members</h4>
                <p> mga ngan</p>
                </div>
            </div>
        
            </div>
            <div class="py-0 top-0 bottom-100px" ></div>
</div>
</div>
  </div>
</div>
--->
























{% endblock %}




