{% extends "frontend/base.html" %}

{% block title %}Keys List{% endblock %}

{% block content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg padding p-7">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-4">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Id No.
                </th>
                <th scope="col" class="px-6 py-3">
                    Student Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Course
                </th>
                <th scope="col" class="px-14 py-3">
                    CTU account
                </th>
                <th scope="col" class="px-2 py-3">
                    Borrowed Key
                </th>
                <th scope="col" class="px-6 py-3">
                    Returned Key
                </th>
                <th scope="col" class="px-6 py-3">
                    Room Key
                </th>
    
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    09/10/23
                </th>
                <td class="px-6 py-4">
                    3211967
                </td>
                <td class="px-6 py-4">
                    Reymar Landero
                </td>
                <td class="px-6 py-4">
                    BSCE
                </td>
                <td class="px-6 py-4">
                    reymar.landero@ctu.edu.ph
                </td>
                <td class="px-6 py-4">
                    8:30 AM
                </td>
                <td class="px-6 py-4">
                    9:30 AM
                </td>
                <td class="px-6 py-4">
                    EN 102
                </td>
               
            </tr>
            
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    09/10/23
                </th>
                <td class="px-6 py-4">
                    3211968
                </td>
                <td class="px-6 py-4">
                    Jerico Montejo
                </td>
                <td class="px-6 py-4">
                    BSCpE
                </td>
                <td class="px-6 py-4">
                    jerico.montejo@ctu.edu.ph
                </td>
                <td class="px-6 py-4">
                    10:30 AM
                </td>
                <td class="px-6 py-4">
                    11:30 AM
                </td>
                <td class="px-6 py-4">
                    CL 1
                </td>
                
                
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    09/10/23
                </th>
                <td class="px-6 py-4">
                    3211969
                </td>
                <td class="px-6 py-4">
                    Tirso Celera
                </td>
                <td class="px-6 py-4">
                    BSCpE
                </td>
                <td class="px-6 py-4">
                    tirso.celera@ctu.edu.ph
                </td>
                <td class="px-6 py-4">
                    10:30 AM
                </td>
                <td class="px-6 py-4">
                    12:00 AM
                </td>
                <td class="px-6 py-4">
                    EN 301
                </td>
                
            </tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    09/11/23
                </th>
                <td class="px-6 py-4">
                    3211978
                </td>
                <td class="px-6 py-4">
                    Marc Bentoy
                </td>
                <td class="px-6 py-4">
                    BSCEE
                </td>
                <td class="px-6 py-4">
                    marc.bentoy@ctu.edu.ph
                </td>
                <td class="px-6 py-4">
                    1:30 AM
                </td>
                <td class="px-6 py-4">
                    2:00 AM
                </td>
                <td class="px-6 py-4">
                    EN 101
                </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        09/10/24
                    </th>
                    <td class="px-6 py-4">
                        3211978
                    </td>
                    <td class="px-6 py-4">
                        Wyelmer Dagami
                    </td>
                    <td class="px-6 py-4">
                        BSCpE
                    </td>
                    <td class="px-6 py-4">
                        wyelmer.dagami@ctu.edu.ph
                    </td>
                    <td class="px-6 py-4">
                        10:30 PM
                    </td>
                    <td class="px-6 py-4">
                        12:00 PM
                    </td>
                    <td class="px-6 py-4">
                        CL 2
                    </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    09/11/23
                </th>
                <td class="px-6 py-4">
                    3211956
                </td>
                <td class="px-6 py-4">
                    Dave Batucan
                </td>
                <td class="px-6 py-4">
                    BSME
                </td>
                <td class="px-6 py-4">
                    dave.batucan@ctu.edu.ph
                </td>
                <td class="px-6 py-4">
                    10:30 PM
                </td>
                <td class="px-6 py-4">
                    12:00 PM
                </td>
                <td class="px-6 py-4">
                    EN 102
                </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">                
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        09/19/23
                    </th>
                    <td class="px-6 py-4">
                        3211989
                    </td>
                    <td class="px-6 py-4">
                        Lloyd Dotusme
                    </td>
                    <td class="px-6 py-4">
                        BSME
                    </td>
                    <td class="px-6 py-4">
                        lloyd.dotusme@ctu.edu.ph
                    </td>
                    <td class="px-6 py-4">
                        1:30 AM
                    </td>
                    <td class="px-6 py-4">
                        12:00 PM
                    </td>
                    <td class="px-6 py-4">
                        CL 1
                    </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">                    
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            09/19/23
                        </th>
                        <td class="px-6 py-4">
                            3211918
                        </td>
                        <td class="px-6 py-4">
                            April Kate Morales
                        </td>
                        <td class="px-6 py-4">
                            BSME
                        </td>
                        <td class="px-6 py-4">
                            aprilkate.morales@ctu.edu.ph
                        </td>
                        <td class="px-6 py-4">
                            8:30 PM
                        </td>
                        <td class="px-6 py-4">
                            9:00 PM
                        </td> 
                        <td class="px-6 py-4">
                            EN 301
                        </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                09/17/23
                            </th>
                            <td class="px-6 py-4">
                                3211917
                            </td>
                            <td class="px-6 py-4">
                                Monica Prietos
                            </td>
                            <td class="px-6 py-4">
                                BSCpE
                            </td>
                            <td class="px-6 py-4">
                                monica.prietos@ctu.edu.ph
                            </td>
                            <td class="px-6 py-4">
                                5:30 PM
                            </td>
                            <td class="px-6 py-4">
                                8:00 PM
                            </td>
                            <td class="px-6 py-4">
                                EN 102
                            </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    09/13/23
                                </th>
                                <td class="px-6 py-4">
                                    3211967
                                </td>
                                <td class="px-6 py-4">
                                    Kevin Bejoc
                                </td>
                                <td class="px-6 py-4">
                                    BSCE
                                </td>
                                <td class="px-6 py-4">
                                    kevin.bejoc@ctu.edu.ph
                                </td>
                                <td class="px-6 py-4">
                                    7:30 AM
                                </td>
                                <td class="px-6 py-4">
                                    8:00 AM
                                </td>
                                <td class="px-6 py-4">
                                    EN 101
                                </td>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        09/13/23
                                    </th>
                                    <td class="px-6 py-4">
                                        3211978
                                    </td>
                                    <td class="px-6 py-4">
                                        Francel Diaz
                                    </td>
                                    <td class="px-6 py-4">
                                        BSCpE
                                    </td>
                                    <td class="px-6 py-4">
                                        francel.diaz@ctu.edu.ph
                                    </td>
                                    <td class="px-6 py-4">
                                        2:30 PM
                                    </td>
                                    <td class="px-6 py-4">
                                        4:00 PM
                                    </td>
                                    <td class="px-6 py-4">
                                        Cl 2
                                    </td>
            
        </tbody>
    </table>
</div>

{% endblock %}